<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item">
			<a class="nav-link @(ViewData["ActivePage"] as string == "Dashboard" ? "" : "collapsed") active" asp-controller="Home" asp-action="Index">
				<i class="bi bi-grid"></i>
				<span>Dashboard</span>
			</a>
		</li><!-- End Dashboard Nav -->

		<li class="nav-item">
			<a class="nav-link @(ViewData["ActivePage"] as string == "Persons" ? "" : "collapsed") active" asp-controller="Persons" asp-action="Index">
				<i class="bi bi-person"></i>
				<span>Personas</span>
			</a>

	</ul>

</aside><!-- End Sidebar-->