<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item">
			<a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "" : "collapsed") active" asp-controller="Home" asp-action="Index">
				<i class="bi bi-grid"></i>
				<span>Dashboard</span>
			</a>
		</li><!-- End Dashboard Nav -->

		<li class="nav-item">
			<a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Clients" ? "" : "collapsed") active" asp-controller="Clients" asp-action="Index">
				<i class="bi bi-person"></i>
				<span>Clientes</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link @(ViewData["ActivePage"] as string == "Roles" ? "" : "collapsed") active" asp-controller="Role" asp-action="Index">
				<i class="bi bi-people"></i>
				<span>Roles</span>
			</a>
		</li>


		

	</ul>

</aside><!-- End Sidebar-->