@model ResetPasswordDTO
@{
    ViewData["Title"] = "Recuperar contraseña";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active">Recuperar contraseña</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">

    <div class="card">

        <div class="card-body">
            <h5 class="card-title text.primary">Editar Usuario</h5>

            <form asp-action="ResetPassword" method="POST" class="row g-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Token" />

                <div class="row">


                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control text-center" readonly />
                        <span asp-validation-for="Email" class="text-warning"></span>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-floating">
                            <input asp-for="Password" type="password" class="form-control" placeholder="@Html.DisplayFor(dto => dto.Password)" />
                            <label asp-for="Password"></label>
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-floating">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="@Html.DisplayFor(dto => dto.ConfirmPassword)" />
                            <label asp-for="ConfirmPassword"></label>
                            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                        </div>
                    </div>

                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-action="Login" class="btn btn-secondary">Iniciar sesión</a>
                </div>
            </form>
            <div class="text-danger">
                <p>
                    @ViewBag.Message
                </p>
            </div>

        </div>

    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

